<%= link_to "<< Back", grades_path, class: "btn btn-info btn-sm" %>

<div class="main-show">
  <header>
    <h2><%= @grade.name.upcase %></h2>
  </header>

  <%= link_to "View All Activities", grade_activities_path(@grade.id), class: "btn btn-warning white" %>

  <div class="sections">
    <% @sections.each do |section| %><!--
    --><div class="card">
        <a href="<%= section_path(grade_id: @grade.id, id: section.id) %>">
          <%= image_tag(set_section_image(section), class: "card-img-top", alt: "class img") %>
        </a>

        <div class="card-body">
          <%= link_to(section.name, section_path(grade_id: @grade.id, id: section.id), class: "card-text" ) %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Edit #{@grade.name}", edit_grade_path(@grade), class: "btn btn-secondary" %><br>
<%= link_to "Delete #{@grade.name}", @grade, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>