<%= render "navbar.html" %>

<h1><%= @grade.name %></h1>

<%= link_to 'All Grades', grades_path, class: "badge badge-pill badge-dark" %>

<p id="notice"><%= notice %></p>

<ol>
  <% @sections.each do |section| %>
    <li><%= link_to(section.name, "/grades/#{@grade.id}/sections/#{section.id}" ) %></li>
  <% end %>
</ol>

<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Destroy', @grade, method: :delete, data: { confirm: 'Are you sure?' } %>