<%= render "navbar" %>

<%= link_to 'Back', section_path(grade_id: @grade_id, id: @id), class: "btn btn-info btn-sm" %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div class="student-profile">

  <div class="profile-image">
    <%= image_tag @student.profile_image %>
  </div>

  <h2><%= @student.name %></h2>


  <div class="student-info">
    <p>
      <strong>Family History:</strong>
      <%= @student.family_history %>
    </p>

    <p>
      <strong>Strengths:</strong>
      <%= @student.strengths %>
    </p>

    <p>
      <strong>Weaknesses:</strong>
      <%= @student.weaknesses %>
    </p>

    <p>
      <strong>Disabilities:</strong>
      <%= @student.disabilities %>
    </p>
  </div>

</div>

<%= link_to 'Edit', edit_student_path(grade_id: @grade_id, id: @id, student_id: @student_id), class: "btn btn-secondary" %>

<br>

<%= link_to 'Destroy', @student, method: :delete, data: { confirm: 'Are you sure?'}, class: "btn btn-danger" %>