<h1>Speakings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @speakings.each do |speaking| %>
      <tr>
        <td><%= speaking.title %></td>
        <td><%= link_to 'Show', speaking %></td>
        <td><%= link_to 'Edit', edit_speaking_path(speaking) %></td>
        <td><%= link_to 'Destroy', speaking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Speaking', new_speaking_path %>
